body { background:#FFFFFF; }

a { color:inherit; text-decoration:inherit; }

div.navigate {
    position:fixed;
    left:50%;
    top:0;
    background:#ECECEC;
    border-left:#BDBDBD 1px solid;
    width:200px;
    height:100%;
    margin-left:-465px;
}

input.search {
    width:180px;
    height:30px;
    text-indent:10px;
    border-radius:5px;
    border:#CCCCCC 1px solid;
    outline:none;
    font-family:"Share", cursive;
}

div.categories {
    position:relative;
    left:50%;
    top:100px;
    width:190px;
    overflow-y:auto;
    margin-left:-95px;
    font-family:"Open Sans", arial, sans-serif;
    font-size:14px;
    float:left;
}

div.category {
    width:100%;
    height:30px;
    line-height:30px;
    border-radius:3px;
    background:none;
    text-indent:35px;
}

div.category:hover {
    opacity:0.8;
}

div.label {
    width:100%;
    height:30px;
    line-height:30px;
    border-radius:3px;
    background:none;
    font-weight:bold;
    text-indent:12px;
}

div.scripts {
    position:relative;
    left:50%;
    top:22px;
    background:#ECECEC;
    width:724px;
    height:100%;
    margin-left:-265px;
}

div.content {
    background:#F8F8F8;
    border-bottom:#BDBDBD 1px solid;
    box-shadow:inset 1px 4px 9px -6px;
    font-family:"Nixie One", cursive;
    font-size:30px;
    height:50px;
    line-height:50px;
    text-indent:10px;
    color:#B8B8C7;
    border-left:#BDBDBD 1px solid;
    border-right:#BDBDBD 1px solid;
}

div.msg {
    background:#F8F8F8;
    border-top:#BDBDBD 1px solid;
    border-bottom:#BDBDBD 1px solid;
    font-family:"Nixie One", cursive;
    font-size:30px;
    height:50px;
    line-height:50px;
    text-align:center;
    width:722px;
    float:left;
    color:#B8B8C7;
    margin-top:-1px;
}

div#standard {
    float:left;
    border-left:#BDBDBD 1px solid;
    border-right:#BDBDBD 1px solid;
}

div#loading {
    display:none;
    text-align:center;
    width:724px;
    height:32px;
}

div#error {
    display:none;
    background:#F8F8F8;
    border:#BDBDBD 1px solid;
    width:722px;
    height:50px;
    line-height:50px;
    text-align:center;
    font-family:"Nixie One", cursive;
    font-size:30px;
    color:red;
    float:left;
    margin-top:-1px;
}

div.header {
    position:fixed;
    left:50%;
    top:0;
    background:#ECECEC;
    width:722px;
    margin-left:-265px;
    height:30px;
    border-bottom:#BDBDBD 1px solid;
    z-index:5;
    border-left:#BDBDBD 1px solid;
    border-right:#BDBDBD 1px solid;
}

div.header_user {
    width:97%;
    height:100%;
    text-align:right;
    line-height:30px;
}

span.header_user_name {
    font-family:"Open Sans", arial, sans-serif;
    font-size:14px;
}

div.basic_script {
    width:240px;
    height:192px;
    background:#F8F8F8;
    border-right:#BDBDBD 1px solid;
    border-bottom:#BDBDBD 1px solid;
    float:left;
}

div.basic_script_display {
    position:relative;
    width:240px;
    height:192px;
}

div.basic_script_label {
    position:absolute;
    height:18px;
    width:47px;
    left:100%;
    margin-left:-47px;
    margin-top:0;
    text-align:center;
    font-weight:bold;
    font-family:"Open Sans", arial, sans-serif;
    font-size:14px;
    padding-bottom:4px;
    text-indent:2px;
    border-bottom-left-radius:12px;
    z-index:4;
}
.pro {
    background:#FFC30F;
    color:black;
}

.vip {
    background:#E80CC7;
    color:white;
}

.free {
    background:#05ACFF;
    color:white;
}

div.basic_script_img {
    position:absolute;
    margin-left:10px;
    margin-top:10px;
    width:220px;
    height:140px;
}

div.basic_script_desc {
    position:absolute;
    margin-left:15px;
    margin-top:155px;
    width:207px;
    height:20px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    text-align:center;
    font-weight:bold;
    font-family:"Open Sans", arial, sans-serif;
    font-size:14px;
}

div.basic_script_users {
    position:absolute;
    margin-left:15px;
    margin-top:173px;
    width:207px;
    height:20px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    text-align:center;
    font-family:"Open Sans", arial, sans-serif;
    font-size:10px;
}

div.basic_script_info {
    position:absolute;
    width:240px;
    height:192px;
    display:none;
    background:#ECECEC;
}

div.basic_script_info_edit {
    position:absolute;
    top:100%;
    left:100%;
    margin-top:-15px;
    margin-left:-15px;
    width:15px;
    height:15px;
    background:#FFFD96;
}

div.basic_script_info_edit:hover {
    opacity:0.5;
}

div.basic_script_info_title {
    position:absolute;
    margin-left:20px;
    margin-top:15px;
    width:140px;
    height:30px;
    font-family:"Open Sans", arial, sans-serif;
    font-size:13px;
    font-weight:bold;
}

/*div.basic_script_info_title:hover {
    opacity:0.5;
}*/

div.basic_script_info_icon {
    position:absolute;
    margin-left:170px;
    margin-top:15px;
    width:50px;
    height:50px;
}

img.star {
    width:16px;
    height:16px;
}
div#thanks {
    display:none;
    position:absolute;
    height:16px;
    width:92px;
    text-align:center;
    z-index:3;
    font-family:"Open Sans", arial, sans-serif;
    font-weight:bold;
    font-size:12px;
}
div.basic_script_info_desc {
    position:absolute;
    margin-left:20px;
    margin-top:80px;
    width:200px;
    height:75px;
    font-family:"Open Sans", arial, sans-serif;
    font-size:10px;
}
div.basic_script_info_button {
    position:absolute;
    margin-left:75px;
    margin-top:158px;
    width:97px;
    height:30px;
    border-radius:3px;
    border:1px solid rgba(0, 0, 0, 0.35);
    text-align:center;
    line-height:30px;
    color:#FFFFFF;
    font-family:"Andika", arial, sans-serif;
    font-size:15px;
    cursor:pointer;
}
div.basic_script_info_button:hover {
    opacity:0.75;
}