
@import "global.css";

/* FLAME ADMIN UI */

/* CHECKBOX */
.checkbox-cont {
  position: relative;
  height: 26px;
  max-width: 38px;
  min-width: 28px;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.4);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2)) !important;
}
.checkbox-cont .on {
  left: 0;
  color: #6b2700;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  background-color: #BD8302;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2)) !important;
}
.checkbox-cont.unchecked .on {
  left: -100%;
}
.checkbox-cont .off {
  left: 100%;
  color: #222;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.checkbox-cont.unchecked .off {
  left: 0;
}
.checkbox-cont .on,
.checkbox-cont .off {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 3px;
  -webkit-transition: left 0.35s ease-in-out;
  -moz-transition: left 0.35s ease-in-out;
  -o-transition: left 0.35s ease-in-out;
}
.checkbox-cont .on span,
.checkbox-cont .off span {
  font-family: 'Flame';
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -7px;
  line-height: 0.5;
}
.checkbox-cont.light-bg {
  border-radius: 4px;
  background-color: #555;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent);
}
.checkbox-cont.light-bg .on {
  border-radius: 3px;
  background-color: #F0A602;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1));
}
.checkbox-cont.light-bg .check-mask {
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.18);
}
.checkbox-cont.disabled {
  cursor: default !important;
}
.checkbox-cont.disabled .check-mask {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 30px 0 rgba(0, 0, 0, 0.3);
}
.checkbox-cont.big {
  max-width: 60px;
  height: 34px;
}
.checkbox-cont.valid .on {
  box-shadow: inset 0 0 10px 1px rgba(101, 128, 0, 0.8);
}
.checkbox-cont.error .off {
  box-shadow: inset 0 0 10px 1px rgba(166, 86, 86, 0.8);
}
.check-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  overflow: hidden;
  border: 0;
  background: transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
}
.check-mask:hover {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
}
.checkbox-cont.chbox-mini {
  width: 26px;
  height: 24px;
  min-width: auto;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.06);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
}
.checkbox-cont.chbox-mini .on {
  width: auto;
  height: auto;
  opacity: 1;
  top: 5px;
  left: 5px !important;
  right: 5px;
  bottom: 5px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.checkbox-cont.chbox-mini span {
  font-size: 13px !important;
  margin-top: -6px !important;
  margin-left: -6px !important;
  line-height: 0.6 !important;
}
.checkbox-cont.chbox-mini.unchecked .on {
  opacity: 0;
}
.checkbox-cont.chbox-mini.light-bg {
  background: rgba(0, 0, 0, 0.1);
}
.checkbox-cont.chbox-mini.light-bg .on {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.checkbox-cont.chbox-mini.disabled {
  background: rgba(0, 0, 0, 0.2);
}
.checkbox-cont.chbox-mini.disabled .on {
  background-color: #8b6001;
}
/* TOOLTIPS */
.tooltip {
  min-height: 24px;
  position: absolute;
  padding: 6px 10px 4px 10px;
  line-height: 14px;
  opacity: 0;
  white-space: nowrap;
  display: block;
  float: left;
  font-size: 12px;
  visibility: hidden;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  background-color: #888;
  color: #222;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  z-index: 9999;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
}
.tooltip .arrow,
.tooltip.top .arrow {
  position: absolute;
  left: 50%;
  bottom: -8px;
  margin-left: -7px;
  font-size: 11px;
  color: #888;
  font-weight: bold !important;
  line-height: 14px !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.tooltip.left .arrow {
  top: 50%;
  left: auto;
  right: -7px;
  bottom: auto;
  margin-top: -6px;
  text-shadow: 2px 0 0 rgba(0, 0, 0, 0.4);
}
.tooltip.right .arrow {
  top: 50%;
  left: 1px;
  right: auto;
  bottom: auto;
  margin-top: -6px;
  text-shadow: -1px 0 1px rgba(0, 0, 0, 0.5);
}
.tooltip.bottom .arrow {
  color: #8a8a8a;
  top: -7px;
  bottom: auto;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
}
.tooltip.dark {
  color: #999;
  background-color: #222;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.04), 0 0 0 1px rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}
.tooltip.dark .arrow {
  color: #222;
}
.tooltip.dark.show {
  opacity: 0.9;
}
.tooltip.dark.bottom .arrow {
  color: #242424;
}
.tooltip.show {
  opacity: 0.85;
  visibility: visible;
}
/* NANOSCROLLER */
.scroll {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.scroll .scroll-cont {
  position: absolute;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.scroll .scroll-cont:focus {
  outline: 0;
}
.scroll .scroll-cont::-webkit-scrollbar {
  visibility: hidden;
}
.scroll.has-scrollbar .scroll-cont::-webkit-scrollbar {
  visibility: visible;
}
.scroll-active .scroll-cont {
  overflow: scroll;
  overflow-x: hidden;
  right: -17px;
}
.scroll > .pane {
  position: absolute;
  width: 6px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  visibility: hidden;
  opacity: .01;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.scroll > .pane > .slider {
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.scroll:hover > .pane,
.scroll-cont:hover > .pane,
.pane.active,
.pane.flashed {
  visibility: visible\9;
  opacity: 0.99;
  cursor: pointer;
}
/* BUTTONS */
.button,
button {
  height: 26px;
  font-size: 11px;
  color: #222;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  margin: 0;
  line-height: 14px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: 'Amble';
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.16), 0 1px 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2)) !important;
}
.button:hover,
button:hover {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.4);
}
.button:active,
button:active {
  box-shadow: inset 0 0 1px #000000, 0 1px 0 rgba(0, 0, 0, 0.4);
}
.button:disabled,
button:disabled,
.button.disabled,
button.disabled {
  cursor: default;
  box-shadow: inset 0 60px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.4) !important;
  -webkit-transition: none 0 ease;
  -moz-transition: none 0 ease;
  -o-transition: none 0 ease;
}
.button.inset,
button.inset {
  border: 0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
}
.button.inset.submit,
button.inset.submit {
  color: #9c3e00;
  border: 1px solid #BF7A02;
  background-color: #F0A602;
}
.button.inset:hover,
button.inset:hover {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.3);
}
.button.inset:active,
button.inset:active {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3);
}
.button.submit,
button.submit {
  background-color: #BD8302;
  color: #612503;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.button.black,
button.black {
  opacity: 0.9;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.5);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.016), rgba(0, 0, 0, 0.1)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.016), rgba(0, 0, 0, 0.1)) !important;
}
.button.black.pressed,
button.black.pressed {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.06), inset 0 0 1px rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
}
.button.black:hover,
button.black:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.08), inset 0 0 10px rgba(255, 255, 255, 0.08);
}
.button.black:active,
button.black:active {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.button.black:disabled,
button.black:disabled {
  color: #777;
  background-color: #262626;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.08) !important;
}
.button.pressed,
button.pressed {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
}
.button.toggle .icon,
button.toggle .icon,
.button.toggle .icon2,
button.toggle .icon2 {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.button.has-icon,
button.has-icon {
  position: relative;
  padding-left: 36px !important;
}
.button.has-icon-r,
button.has-icon-r {
  position: relative;
  padding-right: 36px;
}
.button.has-icon-r .icon,
button.has-icon-r .icon,
.button.has-icon-r .icon2,
button.has-icon-r .icon2 {
  left: auto;
  right: 10px;
}
.button.only-icon,
button.only-icon {
  font-size: 15px;
  line-height: 22px;
  font-family: 'Flame';
  font-weight: normal;
}
.button .icon,
button .icon,
.button .icon2,
button .icon2 {
  width: 18px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 18px;
  line-height: 10px;
  margin-top: -11px;
  font-weight: normal;
}
.button .icon2,
button .icon2 {
  margin-top: -9px;
  font-family: 'Flame';
}
a.button {
  display: inline-block;
  line-height: 26px;
}
.btn-s {
  height: 24px;
}
.btn-m {
  height: 34px;
}
.btn-l {
  height: 38px;
  padding-left: 16px;
  padding-right: 16px;
}
button.arrow,
.button.arrow {
  font-size: 16px;
  font-weight: normal;
  padding: 0 10px;
}
/* BUTTON GROUPS */
.btn-set-btm {
  width: 100%;
  height: 39px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 0;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06);
}
.btn-set-btm.full {
  box-shadow: none;
}
.btn-set-btm.full button,
.btn-set-btm.full .button {
  border-radius: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}
.btn-set-btm.full button:first-of-type,
.btn-set-btm.full .button:first-of-type {
  border-radius: 0 0 0 3px;
}
.btn-set-btm.full button:last-of-type,
.btn-set-btm.full .button:last-of-type {
  border-radius: 0 0 3px 0;
  border-right: 0;
}
.input-group > * {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
}
.input-group > *:first-child {
  border-radius: 4px 0 0 4px !important;
}
.input-group > *:last-child {
  border-radius: 0 4px 4px 0 !important;
}
.input-group > *:not(:first-child):not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}
.input-group input {
  width: auto;
}
.input-group button,
.input-group .button {
  height: 32px;
  margin-top: 1px;
  font-size: 15px;
  font-weight: normal;
}
.input-group .button.icon:not(.lh-l) {
  line-height: 24px;
}
.input-group .input-comp.delete:hover {
  color: #3d0800;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.08), 0 0 6px #801717;
}
.btn-group:not(:last-of-type) {
  margin-right: 10px;
}
.btn-group button,
.btn-group .button {
  float: left;
  border-radius: 0;
  margin: 0 !important;
}
.btn-group button:first-child,
.btn-group .button:first-child {
  border-radius: 4px 0 0 4px !important;
}
.btn-group button:last-child,
.btn-group .button:last-child {
  border-radius: 0 4px 4px 0 !important;
}
.btn-group button:not(:last-child),
.btn-group .button:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}
.btn-group button.black,
.btn-group .button.black {
  border: 0 !important;
}
.btn-group .drop {
  margin: 0 !important;
}
.btn-group .drop button,
.btn-group .drop .button {
  border-radius: 0 !important;
}
.btn-group .drop:not(.arrow-l):first-child button:first-of-type,
.btn-group .drop:not(.arrow-l):first-child .button:first-of-type {
  border-radius: 4px 0 0 4px !important;
}
.btn-group .drop:last-child .arrow {
  border-radius: 0 4px 4px 0 !important;
}
.btn-group .drop.single:first-child button,
.btn-group .drop.single:first-child .button {
  border-radius: 4px 0 0 4px !important;
}
.btn-group .drop.single:last-child button,
.btn-group .drop.single:last-child .button {
  border-radius: 0 4px 4px 0 !important;
}
/* DROPS */
.drop {
  position: relative;
  float: left;
  cursor: pointer;
  margin: 10px 10px 0 0;
  overflow: visible !important;
}
.drop button {
  margin: 0 !important;
  border-radius: 4px 0 0 4px;
}
.drop button.arrow {
  float: right;
  padding: 0 4px;
  border-radius: 0 4px 4px 0;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
}
.drop button.black.arrow {
  border-left: 0;
}
.drop .arrow {
  font-size: 20px;
  line-height: 12px;
  font-weight: normal;
}
.drop ul {
  position: absolute;
  top: 100%;
  left: -1px;
  right: auto;
  margin-top: 5px;
  float: left;
  display: none;
  opacity: 0.97;
  border-radius: 4px;
  background-color: #2C2C2C;
  border: 1px solid #202020;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.3), 0 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 99;
}
.drop li {
  padding: 10px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 12px !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.04);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
.drop li.sel {
  color: #aaa;
  font-weight: bold;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
}
.drop li:not(.no-sel):hover {
  background-color: rgba(255, 255, 255, 0.02);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
}
.drop li:first-of-type {
  box-shadow: none;
  border-radius: 3px 3px 0 0;
}
.drop li:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 3px 3px;
}
.drop.active button.arrow {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
}
.drop.active ul {
  display: block;
}
.drop.arrow-l button {
  float: right;
  border-radius: 0 4px 4px 0;
}
.drop.arrow-l button.arrow {
  float: left;
  border-radius: 4px 0 0 4px !important;
  border-left: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}
.drop.single button,
.select button {
  border-radius: 4px;
}
.drop.single .arrow-l,
.select .arrow-l {
  padding-left: 38px;
}
.drop.single .arrow-l .arrow,
.select .arrow-l .arrow {
  left: 10px;
  right: auto;
}
.drop.single button:not(.arrow-l),
.select button:not(.arrow-l) {
  padding-right: 38px;
}
.drop.single .arrow,
.select .arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -6px;
}
.drop.single.active button,
.select.active button {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
}
.drop-l ul,
.drop-r ul,
.drop-u ul {
  margin-top: 0;
}
.drop-u ul {
  top: auto;
  bottom: 100%;
  margin-bottom: 5px;
}
.drop-l ul {
  top: -1px;
  left: auto;
  right: 100%;
  margin-right: 5px;
}
.drop-r ul {
  top: -1px;
  left: 100%;
  right: auto;
  margin-left: 5px;
}
.drop-l.drop-u ul,
.drop-r.drop-u ul {
  top: auto;
  bottom: -1px;
  margin-bottom: 0;
}
.drop.al-r ul {
  left: auto;
  right: -1px;
}
/* FORMS, INPUTS */
form .g12,
form input,
.form .g12,
.form input {
  margin-bottom: 10px;
}
input,
.select,
textarea {
  height: 34px;
  float: left;
  color: #999;
  display: block;
  padding: 10px;
  line-height: 12px;
  font-size: inherit;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.04);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06), 0 1px 1px rgba(0, 0, 0, 0.04);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
input:hover,
.select:hover,
textarea:hover,
input.hover,
.select.hover,
textarea.hover {
  background: rgba(255, 255, 255, 0.05);
}
input:focus,
.select:focus,
textarea:focus,
input.focus,
.select.focus,
textarea.focus {
  color: #aaa;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.08), 0 1px 5px rgba(0, 0, 0, 0.2);
}
input:disabled,
.select:disabled,
textarea:disabled,
input.disabled,
.select.disabled,
textarea.disabled {
  color: #888;
  cursor: default;
  background-color: rgba(255, 255, 255, 0.01);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06), 0 1px 1px rgba(0, 0, 0, 0.04);
}
input.error,
.select.error,
textarea.error {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06), inset 0 0 6px rgba(166, 86, 86, 0.4), 0 1px 1px rgba(0, 0, 0, 0.04);
}
input.valid,
.select.valid,
textarea.valid {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06), inset 0 0 6px rgba(101, 128, 0, 0.4), 0 1px 1px rgba(0, 0, 0, 0.04);
}
input.inset,
.select.inset {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.06);
}
input.inset:hover,
.select.inset:hover,
input.inset.hover,
.select.inset.hover {
  background-color: rgba(0, 0, 0, 0.12);
}
input.inset:focus,
.select.inset:focus,
input.inset.focus,
.select.inset.focus {
  color: #aaa;
  background: rgba(0, 0, 0, 0.16);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.08);
}
input.inset:disabled,
.select.inset:disabled,
input.inset.disabled,
.select.inset.disabled {
  color: #777;
  background-color: rgba(0, 0, 0, 0.16);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.06);
}
input.inset.error,
.select.inset.error {
  box-shadow: inset 0 0 6px rgba(166, 86, 86, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.08);
}
input.inset.valid,
.select.inset.valid {
  box-shadow: inset 0 0 6px rgba(101, 128, 0, 0.3), inset 0 0 3px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.08);
}
::-webkit-input-placeholder {
  color: #999;
}
::-moz-placeholder {
  color: #999;
}
.spinner-body {
  float: left;
  position: relative;
}
.spinner-body input {
  margin-bottom: 0;
  padding-right: 44px;
}
.spinner-body .up,
.spinner-body .down {
  position: absolute;
  right: 1px;
  width: 34px;
  height: 16px;
  padding: 0;
  font-size: 10px;
  border-right: 0;
  line-height: 16px;
  border: 0 !important;
}
.spinner-body .up {
  top: 1px;
  bottom: 50%;
  border-radius: 0 3px 0 0;
}
.spinner-body .down {
  top: 50%;
  bottom: 1px;
  border-radius: 0 0 3px 0;
}
.spinner-body .input-error {
  top: 8px;
  right: 40px;
  margin-left: 0;
}
.spinner-body.big-btn input {
  padding-right: 78px;
}
.spinner-body.big-btn .up,
.spinner-body.big-btn .down {
  top: 1px;
  bottom: 1px;
  width: 34px;
  height: auto;
  font-size: 13px;
  line-height: 34px;
}
.spinner-body.big-btn .up {
  right: 36px;
  border-radius: 0 !important;
}
.spinner-body.big-btn .down {
  border-radius: 0 3px 3px 0;
}
.spinner-body.big-btn .input-error {
  right: 74px;
}
.input input,
.file-sel input,
.datepicker-cont input {
  margin-bottom: 0;
}
.input .icon:not(.delete),
.file-sel .icon:not(.delete),
.datepicker-cont .icon:not(.delete) {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -9px;
  font-size: 17px;
}
.file-sel {
  height: 34px;
  color: #999;
  display: block;
  padding: 10px;
  line-height: 12px;
  font-size: inherit;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.04);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06), 0 1px 1px rgba(0, 0, 0, 0.04);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  float: left;
  position: relative;
  height: auto;
  min-height: 34px;
  min-width: 40px;
  padding: 0;
}
.file-sel button {
  border-radius: 4px;
}
.file-sel .arrow-l {
  padding-left: 38px;
}
.file-sel .arrow-l .arrow {
  left: 10px;
  right: auto;
}
.file-sel button:not(.arrow-l) {
  padding-right: 38px;
}
.file-sel .arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -6px;
}
.file-sel.active button {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
}
.file-sel:hover,
.file-sel.hover {
  background: rgba(255, 255, 255, 0.05);
}
.file-sel:focus,
.file-sel.focus {
  color: #aaa;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.08), 0 1px 5px rgba(0, 0, 0, 0.2);
}
.file-sel:disabled,
.file-sel.disabled {
  color: #888;
  cursor: default;
  background-color: rgba(255, 255, 255, 0.01);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06), 0 1px 1px rgba(0, 0, 0, 0.04);
}
.file-sel.error {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06), inset 0 0 6px rgba(166, 86, 86, 0.4), 0 1px 1px rgba(0, 0, 0, 0.04);
}
.file-sel.valid {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06), inset 0 0 6px rgba(101, 128, 0, 0.4), 0 1px 1px rgba(0, 0, 0, 0.04);
}
.file-sel .arrow {
  position: absolute;
  top: 50%;
  right: 6px;
  font-size: 16px;
  margin-top: -5px;
}
.file-sel > .delete {
  top: 6px !important;
  right: 6px !important;
}
.file-sel .input-error {
  top: 7px;
  right: 5px;
  margin-left: 0;
}
.file-sel ul {
  margin: 0;
  border-radius: 0 0 4px 4px;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.2), 0 1px 6px rgba(0, 0, 0, 0.2);
}
.file-sel li:hover {
  padding-left: 14px;
}
.file-sel li:first-of-type {
  border-radius: 0;
}
.file-sel li.used {
  color: #777;
  cursor: normal;
  background-color: rgba(0, 0, 0, 0.08);
}
.file-sel .sel-tag {
  margin: 4px 6px 4px 4px !important;
}
.file-sel > .delete,
.file-sel .btn-set {
  right: 28px !important;
}
.file-sel.active {
  border-radius: 4px 4px 0 0;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
}
.file-sel.has-delete {
  padding-right: 40px;
}
.file {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.file-text {
  border: 0 !important;
  box-shadow: none !important;
  background: none !important;
}
textarea {
  display: block;
  padding: 10px;
  min-height: 68px;
  resize: vertical;
}
.delete:not(.input-comp) {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 12px !important;
  line-height: 14px;
  padding: 0 !important;
}
.button.delete:not(.input-comp) {
  width: 22px;
  height: 20px;
  margin-top: 0;
  margin-left: -1px;
}
.delete,
.input-error {
  cursor: hand;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.delete:hover,
.input-error:hover {
  color: #A65656;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4), 0 0 6px #80352a;
}
.input-error {
  cursor: help;
  position: absolute;
  width: 18px;
  height: 18px;
  color: #844545;
  line-height: 9px;
  font-size: 19px;
  margin-left: -24px;
}
/* SELECT */
select {
  height: 34px;
  min-width: 40px;
  background: transparent;
  -webkit-appearance: none;
}
.select {
  float: left;
  position: relative;
  height: auto;
  min-height: 34px;
  min-width: 40px;
  padding: 0;
}
.select .arrow {
  position: absolute;
  top: 50%;
  right: 6px;
  font-size: 16px;
  margin-top: -5px;
}
.select > .delete {
  top: 6px !important;
  right: 6px !important;
}
.select .input-error {
  top: 7px;
  right: 5px;
  margin-left: 0;
}
.select ul {
  margin: 0;
  border-radius: 0 0 4px 4px;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.2), 0 1px 6px rgba(0, 0, 0, 0.2);
}
.select li:hover {
  padding-left: 14px;
}
.select li:first-of-type {
  border-radius: 0;
}
.select li.used {
  color: #777;
  cursor: normal;
  background-color: rgba(0, 0, 0, 0.08);
}
.select .sel-tag {
  margin: 4px 6px 4px 4px !important;
}
.select > .delete,
.select .btn-set {
  right: 28px !important;
}
.select.active {
  border-radius: 4px 4px 0 0;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
}
.select.has-delete {
  padding-right: 40px;
}
.select.drop-u ul {
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.2), 0 -1px 6px rgba(0, 0, 0, 0.2);
}
.select.drop-u.active {
  border-radius: 0 0 4px 4px;
}
.opt-sel {
  width: 100%;
  float: left;
  font-size: 12px !important;
  padding: 10px 26px 10px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sel-search {
  height: 42px;
  padding: 6px !important;
}
.sel-search input {
  width: 100%;
  height: 30px;
  padding: 8px 10px;
}
.sel-group {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0.02);
  padding: 8px 5px !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.08);
}
.select.has-tags {
  padding-right: 60px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
}
.select.has-tags .opt-sel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.select:not(.drop-l) ul,
.select:not(.drop-r) ul {
  right: -1px;
}
/* TEXT & TYPOGRAPHY */
.label {
  height: 26px;
  position: relative;
  line-height: 14px;
  cursor: default;
  font-size: 11px;
  display: block;
  padding: 6px 0;
}
.label.input,
.label.big {
  height: 34px;
  padding: 10px 0;
}
.label.flt-r {
  text-align: right;
}
/* LISTS */
.ul-grad li {
  width: 100%;
  float: left;
  position: relative;
  font-size: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.04);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
}
.ul-grad li:first-of-type {
  border-radius: 3px 3px 0 0;
}
.ul-inline li {
  width: auto;
  height: 100%;
  float: left;
  padding: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
/* SCROLLSPY */
.nav-hz {
  width: inherit;
  height: 40px;
  left: inherit;
  right: 0;
  background-color: #2c2c2c !important;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
}
.nav-hz li {
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}
.nav-hz li:first-of-type a {
  border-radius: 3px 0 0 3px;
}
.nav-hz li:last-of-type a {
  border-radius: 0 3px 3px 0;
}
.nav-vt {
  width: 200px;
  top: 0;
  left: 20px;
  bottom: 20px;
}
.nav-vt li {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.nav-vt li:first-of-type a {
  border-radius: 3px 3px 0 0;
}
.nav-vt a {
  width: 100%;
}
.nav-hz,
.nav-vt {
  position: fixed !important;
  z-index: 97;
  overflow: visible;
}
.nav-hz li,
.nav-vt li {
  float: left;
  position: relative;
}
.nav-hz li a.black,
.nav-vt li a.black {
  background-color: rgba(0, 0, 0, 0.06);
  color: #aaa;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
}
.nav-hz li a.black:hover,
.nav-vt li a.black:hover {
  color: #bbb;
}
.nav-hz li.active a,
.nav-vt li.active a {
  color: #6b2700;
  background-color: rgba(224, 153, 0, 0.75);
}
.nav-hz li.active a.black,
.nav-vt li.active a.black {
  background-color: #BD8302;
  color: #612503;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
}
.nav-hz a,
.nav-vt a {
  min-width: 40px;
  height: 38px;
  float: left;
  margin: 0;
  border: 0;
  display: block;
  padding: 10px 40px;
  border-radius: 0;
  line-height: 20px;
  z-index: 98;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2)) !important;
}
.first-nav {
  margin-top: 60px !important;
}
/* CONTENT NAVIGATION */
.nav-item {
  width: 100%;
  position: absolute;
  left: -100%;
  bottom: 0;
  float: left;
  opacity: 0;
  padding: 0 10px 10px 10px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.nav-item.show {
  position: relative;
  left: 0;
  opacity: 1;
}
.updown .nav-item {
  top: 100%;
  left: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
.updown .nav-item.show {
  position: absolute;
  top: 0;
}
.nav-box {
  overflow: hidden;
}
.nav-box .nav {
  width: 100%;
  height: 34px;
  float: left;
  background-color: #2a2a2a;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.04);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
}
.nav-box li {
  width: auto;
  height: 33px;
  float: left;
  cursor: pointer;
  border-radius: 0;
  font-weight: bold;
  position: relative;
  background-color: #2a2a2a;
  padding: 11px 10px 0 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
}
.nav-box li:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.04), inset 0 0 8px rgba(255, 255, 255, 0.1);
}
.nav-box li:active {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
}
.nav-box li.sel {
  color: #999;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.01);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
}
.nav-box li:first-of-type {
  border-radius: 3px 0 0 0;
}
.nav-box .nav-body {
  float: left;
  width: 100%;
  position: relative;
}
.nav-body:not(.no-pad) .nav-item {
  padding: 10px;
}
.nav-btm .nav {
  border-bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0 0 3px 3px;
}
.nav-btm .nav li:first-of-type {
  border-radius: 0 0 0 3px;
}
.nav-btm .nav-body.updown {
  overflow: hidden;
}
.nav-l .nav {
  border-radius: 3px 0 0 3px !important;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}
.nav-r .nav {
  float: right;
  border-radius: 0 3px 3px 0 !important;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
}
.nav-r .nav li:first-of-type {
  border-radius: 0 3px 0 0;
}
.nav-l .nav,
.nav-r .nav {
  width: auto;
  height: 100%;
  border-bottom: 0;
}
.nav-l li,
.nav-r li {
  width: 100%;
  float: none;
  border-right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.nav-l .nav-body,
.nav-r .nav-body {
  width: auto;
  overflow: hidden;
}
.nav-menu li {
  padding: 13px 20px 0 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
}
.nav-menu li:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.04), inset 0 0 8px rgba(255, 255, 255, 0.1);
}
.nav-menu li:active {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
}
.nav-menu li.sel {
  color: #999;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.01);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
}
.nav-menu li:first-of-type {
  border-radius: 3px 0 0 3px;
}
.breadcrumbs li {
  padding: 13px 0 0 10px;
}
.breadcrumbs li:hover {
  color: #bbb;
}
.breadcrumbs li.sel {
  color: #888;
  font-weight: bold;
}
.breadcrumbs li:after {
  content: '/';
  font-size: 14px;
  margin-left: 10px;
  color: #999 !important;
}
.nav-menu,
.breadcrumbs {
  height: 100%;
}
.nav-menu li,
.breadcrumbs li {
  height: 100%;
  float: left;
  cursor: pointer;
}
/* NOTIFICATIONS */
.notif {
  height: 32px;
  color: #181818;
  position: relative;
  border-radius: 4px;
  line-height: 14px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.85;
  margin-top: 10px;
  overflow: hidden;
  padding: 10px 30px 10px 10px;
  background-color: rgba(255, 255, 255, 0.14);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.08);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2)) !important;
}
.notif .icon {
  position: absolute;
  top: 50%;
  right: 8px;
  bottom: 0;
  margin-top: -7px;
  display: block;
  font-size: 16px;
}
.notif .icon.alt {
  margin-top: -9px;
}
.notif .nt-det {
  float: left;
  width: 100%;
  margin-top: 10px;
  white-space: normal;
}
.notif.auto {
  height: auto;
}
.notif.expanded {
  height: auto;
  padding: 10px 30px 6px 10px;
}
.notif.no-icon {
  padding: 10px;
}
.notif.hide {
  height: 0;
  margin: 0 !important;
  opacity: 0;
  padding: 0 26px 0 10px;
}
#content > .notif {
  margin-top: 25px;
  margin-right: 25px;
}
/* ACCORDION */
.accordion {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.accordion .section {
  width: 100%;
  height: 41px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  line-height: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  -webkit-transition: height 0.3s ease-in-out, background-color 0.1s linear;
  -moz-transition: height 0.3s ease-in-out, background-color 0.1s linear;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
}
.accordion .section:first-of-type {
  border-radius: 3px 3px 0 0;
}
.accordion .section:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 3px 3px;
}
.accordion .section:not(.expanded):hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.accordion .section.expanded {
  background-color: rgba(0, 0, 0, 0.08);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
}
.accordion .head {
  width: 100%;
  height: 41px;
  font-size: 13px;
  padding: 10px;
  line-height: 21px;
}
.accordion .section-content {
  padding: 0 10px 10px 10px;
}
/* TAGS, BADGES */
.unread-ind {
  top: 3px;
  right: 3px;
  width: auto;
  height: 12px;
  color: #572000;
  padding: 0 3px;
  border-radius: 6px;
  position: absolute;
  text-align: center;
  font-size: 10px;
  line-height: 14px;
  font-weight: bold;
  background-color: #B97A00;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.6);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2)) !important;
}
.tag,
.sel-tag {
  height: 24px;
  float: left;
  opacity: 0.9;
  font-size: 12px;
  border-radius: 3px;
  padding: 7px 8px 3px 8px;
  margin-top: 10px;
  margin-right: 10px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #2a2a2a;
  color: #999;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
}
.tag.gray,
.sel-tag.gray {
  color: #222;
  background-color: rgba(255, 255, 255, 0.4);
}
.tag.green,
.sel-tag.green,
.tag.red,
.sel-tag.red,
.tag.blue,
.sel-tag.blue,
.tag.orange,
.sel-tag.orange,
.tag.purple,
.sel-tag.purple,
.tag.gray,
.sel-tag.gray {
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2)) !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.13);
}
.tag {
  font-size: 11px;
  font-weight: bold;
}
.tag.inline {
  float: none;
  margin: 0 6px;
  padding: 6px 8px 4px 8px;
}
.tag.inline.first {
  margin-left: 1px;
}
.sel-tag {
  position: relative;
  padding-right: 20px !important;
}
.sel-tag .delete {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  text-align: center;
  line-height: 19px;
}
.badge {
  float: left;
  height: 24px;
  padding: 0 6px;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  padding-top: 2px;
  line-height: 17px;
  border-radius: 13px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.4);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2)) !important;
}
.badge.black {
  background-color: rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.6), 0 1px 0 rgba(255, 255, 255, 0.06);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
}
/* MODALS */
#modal-ov {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
#modal-ov.show {
  opacity: 1;
  visibility: visible;
}
.modal {
  position: absolute;
  top: auto;
  left: 50%;
  bottom: 40%;
  width: 420px;
  opacity: 0;
  visibility: hidden;
  margin-left: -210px;
  border-radius: 6px;
  font-size: 12px;
  color: #888;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
  background-color: #2c2c2c;
  border: 1px solid #202020;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 10px rgba(0, 0, 0, 0.4) !important;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.modal > p {
  float: left;
  width: 100%;
  line-height: 16px;
  padding: 10px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06);
}
.modal.show {
  opacity: 1;
  visibility: visible;
}
.mod-ttl {
  float: left;
  width: 100%;
  padding: 12px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
}
.mod-ttl h1,
.mod-ttl h2,
.mod-ttl h3 {
  font-size: 13px;
}
.mod-body {
  float: left;
  width: 100%;
  height: auto;
  min-height: 50px;
  overflow: hidden;
  position: relative;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06);
}
.mod-body p {
  line-height: 16px !important;
}
.mod-act {
  float: left;
  width: 100%;
  padding: 6px;
  position: relative;
  border-radius: 0 0 5px 5px;
  background-color: rgba(255, 255, 255, 0.06);
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06);
}
.mod-act .close {
  height: 28px;
  padding: 0 16px;
  float: right;
}
.mod-nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.mod-nav li {
  width: 50px;
  height: 100%;
  float: left;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.mod-nav li .icon {
  line-height: 8px;
}
.mod-nav li.sel {
  color: #CF8D00;
  text-shadow: 0 1px 1px #000;
}
.mod-nav li:hover {
  background-color: rgba(255, 255, 255, 0.02);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.08);
}
/* LAYOUT ELEMENTS */
.well {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.6);
}
.well p {
  margin: 10px 10px 0 0;
  line-height: 14px;
}
.box .well {
  margin: 10px 10px 0 0;
}
.well.full {
  margin: 0;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.02), inset 0 -1px 4px rgba(0, 0, 0, 0.1);
}
.well-modal {
  background-color: #2a2a2a;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.06), 0 1px 8px rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.well,
.well-modal {
  padding: 10px;
  border-radius: 4px;
  margin: 20px 20px 0 0;
}
.block {
  margin: 10px 10px 0 0;
}
/* CHART */
.chart {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.chart,
.chart .base,
.chart .overlay {
  padding-right: 2px !important;
}
.legendLabel {
  color: #999;
  padding: 2px 0 0 4px;
}
.legendColorBox > div {
  padding: 0 !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.tickLabel {
  color: #999;
}
/* MISC */
.align-r {
  text-align: right;
  float: right;
}
/* jQUERY UI ELEMENTS */
.ui-widget:not('.button') {
  font-size: 12px;
  color: #999;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-size: 12px;
}
.ui-widget-content a {
  color: #999;
}
.ui-widget-header {
  padding: 0 10px;
  line-height: 43px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06);
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ui-widget-header a {
  color: #999;
}
.ui-widget-overlay {
  opacity: 1;
  background: rgba(255, 255, 255, 0.15);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
/* SLIDER */
.ui-slider {
  position: relative;
  text-align: left;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.ui-slider-handle {
  position: absolute;
  z-index: 2;
  cursor: default;
  border: 0 !important;
  border-radius: 4px;
  padding-left: 1px;
  background-color: #888;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), 0 0 1px 1px rgba(0, 0, 0, 0.4);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2)) !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: all .3s ease, left 0, bottom 0;
  -moz-transition: all .3s ease, left 0, bottom 0;
}
.ui-slider-handle:hover {
  background-color: #999;
}
.ui-slider-handle.ui-state-focus {
  background-color: #999;
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.3), 0 0 3px 1px rgba(0, 0, 0, 0.3);
}
.ui-slider-handle.ui-state-focus .handle-txt {
  color: #222;
}
.handle-txt {
  display: block;
  font-weight: bold;
  font-size: 10px;
  color: #555;
  text-align: center;
  line-height: 23px;
  letter-spacing: 2px;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}
.ui-slider-range {
  position: absolute;
  z-index: 1;
  padding: 0;
  display: block;
  border-radius: 3px;
  border: 1px solid #000;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.16);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2)) !important;
}
.ui-slider.orange .ui-slider-range {
  background-color: #BD8302;
  color: #612503;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.ui-slider.red .ui-slider-range {
  background-color: #B52E19;
  color: #3d0800;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
}
.ui-slider.blue .ui-slider-range {
  background-color: #295EB3;
  color: #00244a;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}
.ui-slider.green .ui-slider-range {
  background-color: #658005;
  color: #1e2600;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.ui-slider.purple .ui-slider-range {
  background-color: #94318c;
  color: #40044b;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
}
.ui-slider-horizontal {
  height: 20px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
}
.ui-slider-horizontal .ui-slider-handle {
  width: 22px;
  height: 20px;
  top: -1px;
  margin-left: -2px;
}
.ui-slider-horizontal .ui-slider-handle.mgfix {
  margin-left: -20px;
}
.ui-slider-horizontal .ui-slider-range {
  top: 2px;
  bottom: 2px;
  height: auto;
  margin-left: 2px;
  margin-right: 2px;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.ui-slider-vertical {
  width: 20px;
  min-height: 50px;
  background-color: rgba(0, 0, 0, 0.15) !important;
}
.ui-slider-vertical .ui-slider-handle {
  width: 20px;
  height: 22px;
  left: -1px;
  margin-bottom: -2px;
}
.ui-slider-vertical .ui-slider-handle .handle-txt {
  line-height: 20px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}
.ui-slider-vertical .ui-slider-handle.mgfix {
  margin-bottom: -20px;
}
.ui-slider-vertical .ui-slider-range {
  left: 2px;
  right: 2px;
  width: auto;
  margin-top: 2px;
  margin-bottom: 2px;
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}
.slider.grade .grade {
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  min-width: 22px;
  padding: 0 4px;
  height: 18px;
  font-size: 12px;
  opacity: 0.8;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  color: #222;
  background-color: #888;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.6);
}
.slider.grade.ui-slider-horizontal {
  margin-bottom: 18px;
}
.slider.grade.ui-slider-horizontal .grade {
  margin-top: 1px;
  border-radius: 0 0 3px 3px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
}
.slider.grade.ui-slider-horizontal .ui-slider-handle {
  height: 19px;
  border-radius: 3px 3px 0 0;
}
.slider.grade.ui-slider-horizontal .ui-slider-handle.mgfix .grade {
  left: auto;
  right: 0;
}
.slider.grade.ui-slider-horizontal.grade-top {
  margin-top: 18px;
}
.slider.grade.ui-slider-horizontal.grade-top .grade {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 1px;
  border-radius: 3px 3px 0 0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 -1px 2px rgba(0, 0, 0, 0.4);
}
.slider.grade.ui-slider-horizontal.grade-top .ui-slider-handle {
  height: 19px;
  margin-top: 1px;
  border-radius: 0 0 3px 3px;
}
.slider.grade.ui-slider-vertical .ui-slider-handle {
  border-radius: 0 3px 3px 0;
}
.slider.grade.ui-slider-vertical .grade {
  top: 0;
  left: auto;
  right: 100%;
  height: 22px;
  line-height: 24px;
  border-radius: 3px 0 0 3px;
  margin-top: 0;
  margin-right: 1px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.4);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2)) !important;
}
.slider.grade.ui-slider-vertical.grade-right .grade {
  left: 100%;
  right: auto;
  margin-left: 1px;
  margin-right: 0;
  border-radius: 0 3px 3px 0;
}
.slider.grade.ui-slider-vertical.grade-right .ui-slider-handle {
  margin-top: 1px;
  border-radius: 3px 0 0 3px;
}
/* MINICOLORS - COLORPICKER */
.minicolors {
  position: relative;
  display: block;
  z-index: 1;
}
.minicolors-focus {
  z-index: 2;
}
.minicolors.minicolors-theme-default INPUT {
  margin: 0px;
  margin-right: 3px;
  border: solid 1px #CCC;
  font: 14px sans-serif;
  width: 65px;
  height: 16px;
  border-radius: 0;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.04);
  padding: 2px;
  margin-right: -1px;
}
.minicolors-theme-default.minicolors INPUT {
  vertical-align: middle;
  outline: none;
}
.minicolors-theme-default.minicolors-swatch-left INPUT {
  margin-left: -1px;
  margin-right: auto;
}
.minicolors-theme-default.minicolors-focus INPUT,
.minicolors-theme-default.minicolors-focus .minicolors-swatch {
  border-color: #999;
}
.minicolors-hidden {
  position: absolute;
  left: -9999em;
}
.minicolors-swatch {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: url(../img/minicolors.png) -80px 0;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
}
.minicolors-swatch SPAN {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border-radius: 2px;
  display: inline-block;
  box-shadow: inset 0 9px 0 rgba(255, 255, 255, 0.1);
}
.minicolors-panel {
  background-color: #2a2a2a;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.06), 0 1px 8px rgba(0, 0, 0, 0.3);
  z-index: 999;
  padding: 10px;
  margin: 20px 20px 0 0;
  position: absolute;
  top: 39px;
  right: 0;
  width: 172px;
  height: 152px;
  display: none;
  margin: 0;
  border-radius: 4px;
}
.minicolors-position-top .minicolors-panel {
  top: -156px;
}
.minicolors-position-left .minicolors-panel {
  left: -83px;
}
.minicolors-position-left.minicolors-with-opacity .minicolors-panel {
  left: -104px;
}
.minicolors-with-opacity .minicolors-panel {
  width: 194px;
}
.minicolors .minicolors-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border-radius: 3px 0 0 3px;
  background: url(../img/minicolors.png) -120px 0;
  cursor: normal;
}
.minicolors .minicolors-grid-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: none;
}
.minicolors-slider-saturation .minicolors-grid {
  background-position: -420px 0;
}
.minicolors-slider-saturation .minicolors-grid-inner {
  background: url(../img/minicolors.png) -270px 0;
}
.minicolors-slider-brightness .minicolors-grid {
  background-position: -570px 0;
}
.minicolors-slider-brightness .minicolors-grid-inner {
  background: black;
}
.minicolors-slider-wheel .minicolors-grid {
  background-position: -720px 0;
}
.minicolors-slider,
.minicolors-opacity-slider {
  position: absolute;
  top: 0;
  left: 151px;
  width: 20px;
  height: 150px;
  background: #ffffff url(../img/minicolors.png) 0 0;
  cursor: normal;
  border-radius: 0 3px 3px 0;
}
.minicolors-slider-saturation .minicolors-slider {
  background-position: -60px 0;
}
.minicolors-slider-brightness .minicolors-slider {
  background-position: -20px 0;
}
.minicolors-slider-wheel .minicolors-slider {
  background-position: -20px 0;
}
.minicolors-opacity-slider {
  left: 173px;
  background-position: -40px 0;
  display: none;
}
.minicolors-with-opacity .minicolors-opacity-slider {
  display: block;
}
.minicolors-grid .minicolors-picker {
  position: absolute;
  top: 70px;
  left: 70px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin-top: -4px;
  margin-left: -4px;
  background: #fff;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
}
.minicolors-picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background: #000;
  margin-top: -1px;
}
.minicolors-inline INPUT,
.minicolors-inline .minicolors-swatch {
  display: none;
}
.minicolors-inline .minicolors-panel {
  position: relative;
  top: auto;
  left: auto;
  display: inline-block;
}
/* CLEDITOR - WYSIWYG EDITOR */
.editor-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100% !important;
  height: 100% !important;
}
.editor-body iframe {
  border: none;
  margin: 0;
  padding: 0;
}
.editor-toolbar {
  background-color: #2c2c2c;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06), 0 1px 0 rgba(255, 255, 255, 0.06);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
}
.editor-group {
  float: left;
  height: 27px;
  padding-left: 2px;
}
.editor-btn {
  float: left;
  width: 24px;
  height: 25px;
  margin: 1px 0 0 0;
  background: url('../img/wysiwyg.png');
}
.editor-btn:hover {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.3);
}
.editor-disabled {
  opacity: 0.3;
}
.editor-separator {
  float: left;
  width: 2px;
  height: 27px;
  margin-left: 2px;
  background: rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.editor-popup {
  cursor: default;
  position: absolute;
  margin-top: 6px;
  border-radius: 4px;
  background-color: #2c2c2c;
  border: solid 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06), 0 1px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.editor-popup input {
  border-radius: 4px 0 0 4px;
}
.editor-popup .button {
  height: 32px;
  margin-top: 1px;
  padding: 10px;
  float: right;
  border-radius: 0 4px 4px 0;
}
.paste-popup .button {
  height: 28px;
  margin-top: 6px;
  padding: 8px 10px;
  border-radius: 4px;
}
.editor-list div {
  padding: 5px 10px 4px 10px;
}
.editor-list div:hover {
  background-color: rgba(0, 0, 0, 0.01);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
}
.editor-list div:not(:first-of-type) {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.editor-list div:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.editor-list p,
.editor-list h1,
.editor-list h2,
.editor-list h3,
.editor-list h4,
.editor-list h5,
.editor-list h6,
.editor-list font {
  padding: 0;
  margin: 0;
  background-color: Transparent;
}
.editor-color {
  width: 152px;
}
.editor-color div {
  float: left;
  width: 14px;
  height: 14px;
  margin: 0 1px 1px 0;
}
.editor-prompt {
  padding: 5px;
}
.editor-body textarea {
  border: none;
  position: absolute;
  border-radius: 0 0 3px 3px;
  top: 28px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100% !important;
  height: auto !important;
}
.editor-msg {
  cursor: default;
  position: absolute;
  margin-top: 6px;
  border-radius: 4px;
  background-color: #2c2c2c;
  border: solid 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06), 0 1px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  color: #999;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  max-width: 260px;
  padding: 4px 6px;
  font-size: 11px;
  line-height: 14px;
}
.editor-msg input {
  border-radius: 4px 0 0 4px;
}
.editor-msg .button {
  height: 32px;
  margin-top: 1px;
  padding: 10px;
  float: right;
  border-radius: 0 4px 4px 0;
}
.editor-popup,
.editor-list div,
.editor-prompt {
  color: #999;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}
/* TABLES */
.table {
  width: 100%;
  height: 100%;
  border-collapse: separate;
}
.table thead {
  text-align: left;
}
.table thead th {
  font-weight: bold;
}
.table thead th:first-of-type {
  border-radius: 3px 0 0 0;
}
.table thead th:last-of-type {
  border-radius: 0 3px 0 0;
}
.table thead th.center {
  text-align: center;
}
.table tr {
  height: 43px;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
}
.table td,
.table th {
  padding: 0 10px;
  vertical-align: middle;
  position: relative;
  text-align: left;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06);
}
.table td:last-of-type,
.table th:last-of-type {
  border-right: 0;
}
.box-body th {
  border-radius: 0 !important;
}
/* DATATABLES */
table.dataTable {
  margin: 0 auto;
  clear: both;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}
table.dataTable thead th {
  font-weight: bold;
  cursor: pointer;
}
table.dataTable tfoot th {
  border-top: 1px solid black;
  font-weight: bold;
}
table.dataTable td.center,
table.dataTable td.dataTables_empty {
  text-align: center;
}
table.dataTable tr:nth-child(odd) {
  background-color: transparent;
}
table.dataTable tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.02);
}
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
}
.datatable-cont {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06);
}
.dataTables_length {
  float: left;
  height: 34px;
  margin: 0 10px;
  vertical-align: middle;
}
.dataTables_length .select {
  float: none;
  width: 60px;
  margin: 0 4px;
  vertical-align: middle;
  display: inline-block;
}
.dataTables_filter {
  width: 200px;
  height: 34px;
  float: right;
  text-align: left;
  line-height: 34px;
}
.dataTables_filter input {
  float: right;
  border-right: 0;
}
.dataTables_length .select,
.dataTables_filter input {
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
}
.dataTables_info {
  clear: both;
  float: left;
  height: 38px;
  line-height: 38px;
  padding: 0 10px;
}
.dataTables_paginate {
  height: 38px;
  float: right;
  padding: 6px;
}
.paging_full_numbers .button,
.paging_two_button .button {
  float: left;
  border-radius: 0;
  margin-right: 1px;
}
.paging_full_numbers > .button:first-child,
.paging_two_button .button:first-child {
  border-radius: 3px 0 0 3px;
}
.paging_full_numbers > .button:last-child,
.paging_two_button .button:last-child {
  border-radius: 0 3px 3px 0;
  margin-right: 0;
}
.paging_two_button .button,
.dataTables_paginate .previous,
.dataTables_paginate .next {
  padding: 0 8px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  font-family: 'Arrows';
}
.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 30px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 14px 0 2px 0;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: white;
}
.dataTables_scroll {
  clear: both;
}
.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}
/* TOASTR NOTIFICATIONS */
.toast-title {
  margin-bottom: 6px;
}
.toast-title,
.toast-message {
  font-weight: bold;
}
.toast-message {
  word-wrap: break-word;
  font-size: 11px;
}
#toast-container {
  position: fixed;
  z-index: 999999;
}
.toast-top-full {
  top: 25px;
  left: 25px;
  right: 25px;
  width: auto;
}
.toast-bottom-full {
  bottom: 19px;
  left: 25px;
  right: 25px;
  width: auto;
}
.toast-top-left {
  top: 25px;
  left: 25px;
}
.toast-top-right {
  top: 25px;
  right: 25px;
}
.toast-bottom-right {
  right: 25px;
  bottom: 19px;
}
.toast-bottom-left {
  left: 25px;
  bottom: 19px;
}
.toast {
  width: 300px;
  opacity: 0.95;
  margin: 0 0 6px;
  border-radius: 4px;
  position: relative;
  padding: 12px 10px 10px 44px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), 0 0 8px 1px rgba(0, 0, 0, 0.4);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.16), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.16), rgba(0, 0, 0, 0.2));
}
.toast:hover {
  opacity: 1;
  cursor: pointer;
}
.toast-top-full .toast,
.toast-bottom-full .toast {
  width: 100% !important;
}
.toast-success {
  background-color: #658005;
  color: #1e2600;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.toast-error {
  background-color: #B52E19;
  color: #3d0800;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
}
.toast-info {
  background-color: #295EB3;
  color: #00244a;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}
.toast-warning {
  background-color: #BD8302;
  color: #612503;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.toast-message:before {
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -18px;
  font-family: 'Flame';
  font-size: 24px;
}
.toast-info .toast-message:before,
.toast-warning .toast-message:before {
  margin-top: -21px;
}
.toast-success .toast-message:before {
  content: '=';
}
.toast-error .toast-message:before {
  content: 'X';
}
.toast-info .toast-message:before {
  content: 'D';
}
.toast-warning .toast-message:before {
  content: '&';
}
